@import url(http://weloveiconfonts.com/api/?family=entypo);/*For demo purposes only -- this wouldn't be dependable enough for a prod enviroment...*/

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
    background: #A7A9AC;
}

#container {
	width: 400px;
	margin: 0px auto;
	text-align: center;
}

#instructionsDiv{
	font-family: 'droid sans mono';
	background: #A7A9AC;
	color: #333;
	text-align: left;
}

#rSelectDiv {
	float: right;
}

#numDisplayDiv{
	font-family: 'Droid Sans Mono';
	color: #ccc;
	background: #333;
	text-align: left;
}

.alphaSmall {
	font-family: 'Droid Sans Mono';
	font-size: 12px;
	font-weight: normal;
	margin-top: -10px;
}

.button {
    float: left;
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    height: 80px;
    
    border-radius: 10px;
    
    box-shadow:
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1);
    
    transition: box-shadow .1s ease-in-out;
} 

.button div.btnText {
	height:80px;
    background-color: #E8E8E8;
    background-image: 
        /* gloss gradient */
        gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    background-size: 100%, 100%, 100%, 4px 4px;
    
    border-radius: 10px;
    transition: transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px auto;
	width: 105px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'Droid Sans Mono';
    font-size: 55px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .button div.btnText:hover {
            color: #AEBF3B;
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

        .button:active {
            box-shadow:
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active div.btnText{
            transform: translate(0, 5px); /* depth of button press */
        }

.comboDiv {
	float: left;
	border-radius: 5px;
	background: #333;
	color: #ccc;
	font-family: 'droid sans mono';
	font-size: 11px;
	padding: 2px 5px;
	margin: 2px 2px;
	font-weight: normal;
}

.clear {
	clear: both;
}

#showCombosDiv {
	margin-top: 10px;
	text-align: left;
	font-weight: bold;
	font-family: 'droid sans mono';
}